################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiabloReader/bin/Debug
/DiabloReader/obj/Debug
/.vs/DiabloReader/v15/Server/sqlite3
/.vs/
/DiabloReader/apikey.txt