################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlizzardApiReader/bin/Debug
/BlizzardApiReader/obj/Debug
/.vs/BlizzardApiReader/v15/Server/sqlite3
/.vs/
/BlizzardApiReader/apikey.txt
/BlizzardApiReader/bin/Release
/BlizzardApiReader/obj/Release
